@import "tailwindcss";

:root {
  --background: #EBFFFF;
  --foreground: #46006B;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-firs: var(--font-firs), sans-serif;
  --font-w95fa: var(--font-w95fa), sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #46006B;
    --foreground: #EBFFFF;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-firs);
}

h1 {
  font-size: var(--text-2xl);
  font-weight: var(--font-weight-semibold);
}

h2 {
  font-size: var(--text-lg);
  font-weight: var(--font-weight-semibold);
}

p {
  font-size: var(--text-lg);
}

a {
  cursor: pointer;
}

a:hover {
  font-family: var(--font-w95fa);
  letter-spacing: var(--tracking-widest);
  font-weight: var(--font-weight-bold);
  line-height: var(--leading-tight);
}